@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@400;700&display=swap');

html{
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Raleway', sans-serif; */
}
*,*::after,*::before{
    box-sizing: inherit;
}
body{
    padding: 0;
    margin: 0;
    color: hsl(243, 87%, 12%);
}
.wrapper > *{
    padding: 1.4rem 2rem;
}
/* Navbar style */
.navbar{
    display: flex;
    justify-content: space-between;
}
.nav-options ul{
    list-style: none;
    display: flex;
}
.nav-options ul li a{
    text-decoration: none;
    color: hsl(243, 87%, 12%);
}
.nav-options ul li:nth-child(2){
    padding: 0 3rem ;
}
/* Navbar style */

/* head showcase */

.showcase{
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 2rem 2rem;
}
.showcase .right{
    height: 100%;
    width: 100%;
    padding: 1rem;

}
.showcase .right img{
    height: 100%;
    width: 100%;
}
.showcase .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.show-h{
    font-weight: 700;
    margin-bottom: 0.8rem;
}
.showcase .left p{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    opacity: 0.8;
    line-height: 1.6rem;
    margin-top: 0.5rem;
    font-size: 1.25rem;
}
.email{
    width: 100%;
    display: flex;
    padding: 0;
    margin: 0;
}
.email-error1{
    display: block;
    width: 50%;
    padding-right: 1rem ;
    margin: 0;
}
.email-error1 p{
    visibility: hidden;
    padding-top: 0;
    margin-top: 0.2rem;
    color: red;
}

input[type='text']{
    border: 0;
    height: 2rem;
    border: 1px solid #b4becb;
    width: 100%;
    padding: 1rem;
    font-size: 16px;
    border-radius: 3px;
}
.btn{
    padding: 0.5rem 1rem;
    height: 2rem;
    border-radius: 3px;
    border: 0;
    font-weight: 500;
    background-color: hsl(224, 93%, 58%);
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    cursor: pointer;
    text-align: center;
    transition: all 500ms;
    width: 30%;
}


/* head showcase */

/* body content  */

.roundborder{
    padding: 0;
    width: 100%;
    margin:auto;
    position: absolute;
    top: -12%;
    right: 0;
    left: 0;
}
.body-show{
    background-color:hsl(240, 75%, 98%);
    position: relative;
    margin-top: 10rem;
    width: 100%;
}
.body-show-in{
    display: grid;
    grid-template-columns: 50% 50%;
    padding-top: 2rem;
}
.body-show-in .right img, .body-show-in .left{
    width:100%;
}
.body-show-in .left p{
    font-weight: 400;
}
.link-show a{
    text-decoration: none;
    color: hsl(170, 45%, 43%);
    padding-right: 0.4rem;
}
.link-show {
    width: 27%;
    display: flex;
    border-bottom: 1px solid hsl(170, 45%, 43%);
    justify-content: center;
}
.link-show img{
    padding-top: 0.25rem;
}
.body-show-in .left p{
    width: 75%;
}
.body-show-in .left h1{
    width: 100%;
    font-weight: 700;
    font-size: 2.2rem;
}
.card{
    margin: 1.5rem 0;
    background-color: white;
    width:340px;
    padding: 1rem;
    box-shadow: 0px 5px 15px 5px rgba(0,0,0,0.08);
    border-radius: 5px;
}
.card p{
    min-width: 100%;
}

.card .info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.info img{
    max-width: 55px;
    max-height: 55px;
    border-radius: 50%;
}
.info .name-job{
    padding-left: 0.6rem;
}
.info .name-job .name{
    margin-bottom: 0;
    font-weight: 700;
}
.info .name-job .job{
    margin-top: 3px;
    font-size: 0.8rem;
}
/* body content  */

/* body info input */

.footer-email{
    background-color: hsl(238, 22%, 44%);
    color: white;
    display: grid;
    grid-template-columns: 50% 50%;
    height: 300px;
}
.footer-email > *{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    justify-content: center;
}

.footer-email .right .email{
    display: flex;
    flex-direction: column;
}
.footer-email .right .email .btn{
    width: 30%;
}

.footer-email .right .email input{
    width: 80%;
    height: 40px;
}
.footer-email .left{
    width: 85%;
}
.footer-email .left p{
    color: hsla(240, 75%, 98%,0.8);
}
.footer-email .left h1{
    margin-bottom: 0;
    padding-bottom: 0;
}


.email-error2{
    font-size: 00.8rem;
}

/* body info input */

/* footer */

footer{
    background-color: hsl(243, 87%, 12%);
    color: white;
    width: 100%;
    min-height: 400px;
    display: grid;
    align-items: center;
    
}
footer .footer-img{
    filter: invert(90%) sepia(100%) saturate(0%) hue-rotate(0deg) brightness(200%) contrast(100%);
    margin-left: 4rem;
}
footer .footer-content{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: repeat(auto-fit,minmax(240px, 1fr));
    
}
footer .footer-content .social-icons{
    display: flex
}
footer .footer-content .social-icons li i{
    border-radius: 50%;
    padding: 0.5rem;
    border: 1px solid white;
}
footer .footer-content .social-icons li:nth-child(2){
    padding: 0.5rem 1rem;
}
footer .footer-content > * {
    list-style: none;
}
footer .footer-content ul li{
    padding: 0.5rem 0;
}
footer .footer-content ul {
    justify-self: center;
}
footer .footer-content ul li i img{
    padding-right: 0.4rem;
}

/* footer */


/*utilities*/
h1{
    font-family: 'Raleway', sans-serif;
}
.email-error1 p, .email-error2{
    visibility: hidden;
}
